.spot-details-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spot-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
}

.reviews-location {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 18px;
}

.spot-details-img {
    height: 550px;
    width: 650px;
    object-fit: cover;
    border-radius: 12px;   
}

.listing-info-container {
    border-bottom: 1px solid #c0bbbb;
    padding-bottom: 25px;
}
 

.hosting-info {
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.listing-info {
    padding-top: 8px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.hosting-info-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-bottom: 1px solid #c0bbbb;
    padding-bottom: 25px;
}

.fa-calendar {
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 25px;
    padding-right: 10px;
    padding-bottom: 11px;
}
.fa-pen-to-square {
    font-size: 25px;
    padding-right: 8px;
    padding-bottom: 11px;

    /* padding-bottom: 16px; */
}
.fa-circle-user {
    font-size: 25px;
    padding-right: 8px;
    padding-bottom: 11px;

}

.check-in, .work-space, .super-host  {
    /* display: flex; */
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.check-in-info, .super-host-info{
    /* display: flex; */
    /* padding-top: 5px; */
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    padding-top: 6px;
    /* justify-content: ; */
    /* align-items: flex-start; */
}

