.spot-details-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spot-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
}

.reviews-location {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 18px;
}

.spot-details-img {
    height: 550px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;   
}

.listing-info-container {
    border-bottom: 1px solid #c0bbbb;
    padding-bottom: 25px;
}
 

.hosting-info {
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.listing-info {
    padding-top: 8px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.hosting-info-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-bottom: 1px solid #c0bbbb;
    padding-bottom: 25px;
}

.fa-calendar {
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 25px;
    padding-right: 10px;
    padding-bottom: 11px;
}
.fa-pen-to-square {
    font-size: 25px;
    padding-right: 8px;
    padding-bottom: 11px;

    /* padding-bottom: 16px; */
}
.fa-circle-user {
    font-size: 25px;
    padding-right: 8px;
    padding-bottom: 11px;

}

.check-in, .work-space, .super-host  {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.check-in-info, .super-host-info{

    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    padding-top: 6px;
}

.listing-info-container {
    display: flex;
    flex-direction: column;
    height: auto;
}

.num-reviews {
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.user-ratings {
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
.user-reviews {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.create-review-button {
    width: 100%;
    margin: 15px 0 9px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #FF385C;
    color: rgb(243, 243, 243);
    margin-bottom: 50px;
}

.delete-review-button {
    width: 100%;
    margin: 15px 0 9px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #FF385C;
    color: rgb(243, 243, 243);
}


.reviews-form-container {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 60px;
    padding-left: 60px;
    margin: auto;
    /* border: 1px solid rgb(202, 194, 194); */
    max-width: 650px;
    color: black;
}

.reviews, .stars {
    margin-top: 7px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 0 10px;
    border: 1px solid rgba(3, 3, 3, .6);
    border-radius: 8px;
}

.submit-review-button {
    width: 100%;
    margin: 15px 0 9px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #FF385C;
    color: rgb(243, 243, 243);
    margin-top: 50px;
    margin-bottom: 50px;
}