.spot-list-container {
    display: flex;
    margin-top: 45px;
    padding-left: 35px;
    padding-right: 35px;
    /* max-width: 250px; */
    border-radius: 5px;
    padding-top: 15px;
    gap: 25px;
    justify-content: center;
    /* align-items: center; */
    /* margin-bottom: 80px; */
    border-bottom: 1px solid #b4b0b0;
    padding-bottom: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.spot-image {
    /* width: 19vw; */
    /* height: 26vh; */
    width: 330px;
    height: 320px;
    object-fit: cover;
    border-radius: 7px;
    
}
.spot-location-rating {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
}

.spot-city-state {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    /* padding-top: 5px; */
}
.avg-rating {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.spot-price {
    font-family: 'Roboto', sans-serif;    
    font-size: 17px;
}
.spot-price, .night {
    display: inline-block;
    padding-top: 2px;
}
.night {
    margin-left: 4px;
    font-family: 'Roboto', sans-serif;    
    font-size: 17px;
    font-weight: 200;
}

.nav-link {
    color: black;
    text-decoration: none;
}
.nav-link.active {
    color: transparent;
    text-decoration: none;
}