/* .spot-form {
    display:inline-flex;
    flex-direction:column;
    width: 400px; 
}

.errors {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin-bottom: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    display:inline-block;
    border: black;
    text-align: block;
    border-style: dashed;
} */
