/* TODO Add site wide styles */

.ul-errors {
    padding: 0;
}

.errors {
    color: red;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}
