/* TODO Add site wide styles */

.ul-errors {
    /* list-style-type: none; */
    padding: 0;
}

.errors {
    /* display: flex; */
    /* justify-content: center; */
    /* padding-bottom: 13px; */
    color: red;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

}