.hidden {
    display: none;
}

.logo {
    /* width: 50px; */
    max-height: 19px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #fdfdfd;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    flex-wrap: wrap;
  }
  
  
.home-button {
    padding-left: 35px;
    flex-grow: 1;
    float: left;
}

.create-spot-button {
    padding-right: 10px;
    box-sizing: border-box;    
    border-radius: 20px; 
    float: right;
}
.creat-spot-navlink {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: black;
}

.profile-button {
    padding-right: 35px;
    box-sizing: border-box;    
    border-radius: 20px;
    float: right;
}
.creat-spot-navlink:hover {
    background-color: rgb(240, 239, 239);
    padding: 5px;
    border-radius: 10px;
}



  

