.profile-wrapper {
    position: relative;
    display: inline-block;
}

.profile-container {
    display: flex;
    align-items: center;
}

.open-menu-button {
    cursor: pointer;
    border-radius: 23px;
    box-shadow: none;
    border: 1px solid rgba(223, 223, 223, 1);
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white;
}

.open-menu-button:hover {
    /* background-color: #ededed; */
    box-shadow: 0px 0px 2px #979797;
}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}

.profile-dropdown.show {
    display: block;
}

.user-container {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
}


.logout-button,
.my-listings-button {
    cursor: pointer;

}

.username-button,
.logout-button,
.my-listings-button,
.name-button,
.email-button {
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    height: 2rem;
}

.modal-container {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
}

#modal-content {
    background-color: bisque;
}

.profile-dropdown button {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    height: 3rem;
    text-align: left;
}


.profile-dropdown button:hover {
    background-color: #eaeaea;

}

.login-button:hover,
.signup-button:hover,
.demo-user-button:hover,
.logout-button:hover,
.my-listings-button:hover {
    background-color: #eaeaea;
}


.fa-user-circle {
    color: rgba(6, 5, 5, 0.587);
    font-size: 25px;
}

.fa-solid.fa-bars {
    padding-right: 7px;
    padding-bottom: 4px;
    font-size: 15px;
}

.fa-solid {
    font-size: 18px;
}